:root {
    --background-color-1: #044b4a;
    --highlight-color-1: #09b800;
    --background-color-2: #0065bd;
    --highlight-color-2: #00f7ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", sans-serif;
    cursor: url(../cursor.png), auto;
}

body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: white;
}

.repoWrapper {
    position: absolute;
    left: 0;
    top: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.editorContent {
    border: solid 1px #299245;
    box-shadow: 0px 0px 16px #00ff3779;
    padding: 10px;
    min-width: 100%;
    max-width: 100%;
    height: 400px;
    min-height: 20vh;
    color:rgb(0, 255, 94);
    background-color: rgb(18, 0, 34);
}

.left {
    overflow: auto;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    min-width: 300px;
    min-height: 600px;
    border: solid 1px #7fffa1;
    box-shadow: 0px 0px 16px #00ff3779;
    margin: auto;
}

.middle {
    align-items: center;
    justify-content: center;
    justify-items: center;
    max-width: 750px;
    width: 55%;
    min-width: 400px;
    height: 700px;
    overflow: auto;
    margin: auto;
}

.right {
    align-items: center;
    justify-content: center;
    max-width: 450px;
    min-width: 300px;
    height: 625px;
    margin: auto;
}

.goBox {
    padding: 4px;
    margin: 2px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background:#001a06;
    border: solid 1px #299245;
    box-shadow: 0px 0px 16px #00ff3779;
}

.buttons{
    position: absolute;
    right: 3%;
    top: 21px;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.button{
    font-size: 18px;
    color: white;
    background: rgba(0, 0, 0, 0.176);
    backdrop-filter: blur(2px);
    border: solid 1px #7fffa1;
    box-shadow: 0px 0px 16px #00ff3779;
    padding: 5px;
    margin: 5px;
    cursor: url(../pointer.png), pointer;
    font-weight: 400;
    transition: 0.3s;
    align-content: center;
    text-shadow: .1vh .1vh 0 rgb(6, 68, 0), .1vh -.1vh 0 rgb(6, 68, 0), -.1vh -.1vh 0 rgb(6, 68, 0), -.1vh .1vh 0 rgb(6, 68, 0);
    font-weight: 600;
}

.button:hover{
    color: var(--highlight-color-1);
    border: solid 1px var(--highlight-color-1);
    box-shadow: 0px 0px 16px var(--highlight-color-1);
}

.button:active{
    background-color: var(--highlight-color-1);
    color: black;
}

button{
    font-size: 18px;
    color: white;
    background: rgba(0, 0, 0, 0.176);
    backdrop-filter: blur(2px);
    border: solid 1px #7fffa1;
    box-shadow: 0px 0px 16px #00ff3779;
    padding: 5px;
    margin: 5px;
    cursor: url(../pointer.png), pointer;
    font-weight: 400;
    transition: 0.3s;
    align-content: center;
    text-shadow: .1vh .1vh 0 rgb(6, 68, 0), .1vh -.1vh 0 rgb(6, 68, 0), -.1vh -.1vh 0 rgb(6, 68, 0), -.1vh .1vh 0 rgb(6, 68, 0);
    font-weight: 600;
}

button:hover{
    color: var(--highlight-color-1);
    border: solid 1px var(--highlight-color-1);
    box-shadow: 0px 0px 16px var(--highlight-color-1);
}

button:active{
    background-color: var(--highlight-color-1);
    color: black;
}

.input{
    font-size: 18px;
    color: white !important;
    background: rgba(0, 255, 94, 0.176);
    backdrop-filter: blur(2px);
    border: solid 1px #7fffa1;
    box-shadow: 0px 0px 16px #00ff3779;
    padding: 5px;
    margin: 5px;
    cursor: url(../pointer.png), pointer;
    font-weight: 400;
    transition: 0.3s;
    align-content: center;
    text-shadow: .1vh .1vh 0 rgb(6, 68, 0), .1vh -.1vh 0 rgb(6, 68, 0), -.1vh -.1vh 0 rgb(6, 68, 0), -.1vh .1vh 0 rgb(6, 68, 0);
    font-weight: 600;
    height: auto;
}

.fileExplorer {
    background-color: black;
    cursor: url(../pointer.png), pointer;
    padding: 4px;
    font: bold;
    color:rgb(0, 255, 94);
    overflow: hidden;
    border: solid 1px #299245;
    box-shadow: 0px 0px 16px #00ff3779;
}

.file {
    border-left: 1px solid rgb(0, 255, 94);
    background-color: rgb(0, 0, 0);
    cursor: url(../pointer.png), pointer;
    padding: 10px;
    margin: 2px;
    overflow: auto;
    color:rgb(0, 255, 94);
    width: 99%;
    transition: 0.3s;
}

.file:hover {
    background-color: rgb(180, 255, 224);
    color:black;
}

.directory {
    border-left: 2px solid rgb(255, 255, 255);
    background: #001a06; 
    cursor: url(../pointer.png), pointer;
    padding: 10px;
    margin: 2px;
    overflow: auto;
    color:rgb(255, 255, 255);
    font-weight: 600px;
    width: 99%;
    transition: 0.3s;
}

.directory:hover {
    background-color: rgb(31, 135, 0);
    color:rgb(255, 255, 255);
    font-weight: 600px;
}

.editorTabs {
    display: flex;
    align-items: center;
    width: 99%;
    max-width: 99%;
    height: 99%;
    overflow: wrap;
}

.editor {
    border: solid 1px #7fffa1;
    box-shadow: 0px 0px 16px #00ff3779;
    padding: 10px;
    min-width: 20vw;
    min-height: 20vh;
    color:rgb(0, 255, 94);
    background-color: rgb(18, 0, 34);
}

.fileStateTabs {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.tab {
    display: flex;
    max-width: 10vw;
    white-space: nowrap;
    margin: 2px;
    font-weight: 300;
    cursor: url(../pointer.png), pointer;
    justify-content: space-between;
    color: white;
    background: rgba(0, 80, 29, 0.82);
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 5px #00ff3721;
    transition: 0.3s;
    border: solid 1px #001a0600;
}

.tabText {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    padding: 4px;
    text-overflow: ellipsis;
}

.tab:hover {
    background-color: aquamarine;
    border: solid 1px var(--highlight-color-1);
    box-shadow: 0px 0px 16px var(--highlight-color-1);
    color: black;
}

.tab:active{
    background-color: white;
    color: black;
}

.botChat {
    display: flex;
    flex-direction: column;
    border: none;
    height: 70vh;
    max-width: 450px;
    min-width: 300px;
    justify-content: space-between;
    margin: 2px;
}

.chatHeader {
    text-align: center;
    background: #001a06;
    color: white;
    padding: 20px;
    display: block;
    border: solid 1px #299245;
    box-shadow: 0px 0px 16px #00ff3779;
}

.explorer{
    padding: 0px;
    min-width: 15vw;
    align-self: center;
    min-height: 60vh;
    max-height: 650px;
    overflow: auto;
    border: 5px solid rgb(12, 0, 39);
}

.explorerHeader {
    text-align: center;
    background: #001a06;
    color: white;
    padding: 10px 10px 10px 10px;
    display: block;
    border: solid 1px #299245;
    box-shadow: 0px 0px 16px #00ff3779;
}

.chatHistory {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    border: solid 1px #7fffa1;
    box-shadow: 0px 0px 16px #00ff3779;
    height: calc(100% - 140px);
    margin-top: 10px;
    background:linear-gradient(#001a06, black);
    color: aquamarine;
    font-weight: 600;
    font-size: 18px;
}

.inputWrapper {
    background: linear-gradient(rgb(8, 57, 4), rgb(4, 50, 2));
    padding: 10px;
    display: flex;
    justify-content: center;
    border: solid 1.5px #7fffa1;
    box-shadow: 0px 0px 16px #00ff3779;
    width: 100%;
}

.userQuery {
    width: 90%;
    margin: 1%;
    overflow-wrap: break-word;
    padding: 10px;
    font-size: 18px;
    color: white !important;
    background: rgba(0, 255, 94, 0.176);
    backdrop-filter: blur(2px);
    border: solid 1px #7fffa1;
    box-shadow: 0px 0px 16px #00ff3779;
    cursor: url(../pointer.png), pointer;
    font-weight: 400;
    transition: 0.3s;
    align-content: center;
    text-shadow: .1vh .1vh 0 rgb(6, 68, 0), .1vh -.1vh 0 rgb(6, 68, 0), -.1vh -.1vh 0 rgb(6, 68, 0), -.1vh .1vh 0 rgb(6, 68, 0);
    font-weight: 600;
    height: auto;
}

a{
    text-decoration: none; 
    cursor: url(../pointer.png), pointer;
    color:#09b800;
}

a:hover{
    color:white;
}

a::selection{
    color:white;
}

::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track{
    background: #001a06;
}

::-webkit-scrollbar-thumb{
    background: rgb(0, 255, 94);
}

.closeTab {
    background-color: black;
    padding: 3px;
    margin-left: 10px;
    border-radius: 10px;
    cursor: url(../pointer.png), pointer;
    box-shadow: none;
}

.closeTab:hover {
    color: red;
    box-shadow: none;
}

.saveButton{
    font-size: 18px;
    color: white;
    background: rgba(0, 0, 0, 0.176);
    backdrop-filter: blur(2px);
    border: solid 1px #7fffa1;
    box-shadow: 0px 0px 16px #00ff3779;
    padding: 5px;
    cursor: url(../pointer.png), pointer;
    transition: 0.3s;
    align-content: center;
    text-shadow: .1vh .1vh 0 rgb(6, 68, 0), .1vh -.1vh 0 rgb(6, 68, 0), -.1vh -.1vh 0 rgb(6, 68, 0), -.1vh .1vh 0 rgb(6, 68, 0);
    font-weight: 600;
}

.deleteButton{
    font-size: 18px;
    color: white;
    background: rgba(0, 0, 0, 0.176);
    backdrop-filter: blur(2px);
    border: solid 1px #ff7f7f;
    box-shadow: 0px 0px 16px #ff000079;
    padding: 5px;
    cursor: url(../pointer.png), pointer;
    transition: 0.3s;
    align-content: center;
    text-shadow: .1vh .1vh 0 rgb(68, 0, 0), .1vh -.1vh 0 rgb(6, 68, 0), -.1vh -.1vh 0 rgb(6, 68, 0), -.1vh .1vh 0 rgb(6, 68, 0);
    font-weight: 600;
}

.deleteButton:hover{
    color: #ff0000;
    border: solid 1px #ff0000;
    box-shadow: 0px 0px 16px #ff0000;
}

.newLine {
    background: linear-gradient(rgb(8, 57, 4), rgb(4, 50, 2));
    padding: 10px;
    display: flex;
    justify-content: center;
    border: solid 1.5px #7fffa1;
    box-shadow: 0px 0px 16px #00ff3779;
}

.aiMsg {
    color: rgb(0, 212, 142);
}

.userMsg {
    box-sizing: border-box;
    background-color: rgb(0, 212, 142);
    width: 95%;
    margin: 5%;
    padding: 10px;
    overflow-wrap: break-word;
    color: black;
}

.codeBlock {
    margin: 20px;
    white-space: pre-wrap;
    padding: 5px;
    text-indent: 0px;
    width: 80%;
    /* color: rgb(253, 67, 244); */
    color: #92ffaf;
    border: 2px solid #92ffaf;
}
