
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", sans-serif;
    cursor: url(../cursor.png), auto;
}

body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.error-title {
    width: 100%;
    background: linear-gradient(rgb(139, 0, 0), #ff1111 10% 90%, rgb(142, 0, 0));
    float: left;
    animation: glitch 1s linear infinite;
}

.error-message {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px 10px 10px 10px;
    background: transparent;
    border: none;
}

.message-box {
    background: rgba(255, 255, 255, 0.80);
    width: calc(100%-20px);
    border: solid 1px #ff1111;
    box-shadow: rgba(255, 252, 252, 0.6) 0 -20px 70px 5px;
    color: black;
}

.msg {
    margin: 10px;
    font-weight: 600;
}

.error-box {
    width: 450px;
    display: flex;
    flex-direction: column;
    animation: float 3s ease-in-out infinite;
}

@keyframes float{
    0% {transform: translate(0, 0px);}
    50% { transform: translate(0, 10px);}
    100% { transform: translate(0, -0px);}
}

@keyframes glitch{
    2%, 35%, 64%{
      transform: translate(2px,0) skew(0deg);
      text-shadow:.5px .5px .5px #f3ff11;
    }
    4%, 50%, 60%{
      transform: translate(-2px,0) skew(0deg);
      text-shadow:.5px .5px .5px #11ff25;
    }
    62%, 66%{
      transform: translate(0,0) skew(0deg);
      text-shadow:.5px .5px .5px rgb(255, 255, 255);
    }
  }
  